{{!-- <div class="pre-premium">
    <form action="api/users/premium/{{uid}}" method="POST">
        <label for="Identificación">Identificacion:</label>
        <input type="text" id="Identificación" name="Identificación" required>

        <label for="Comprobante de domicilio">Comprobante de domicilio:</label>
        <input type="text" id="Comprobante de domicilio" name="Comprobante de domicilio" required>

        <label for="status">Comprobante de estado de cuenta</label>
        <select id="status" name="status">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
        <button type="submit">Hacete premium</button>
    </form>
</div> --}}