<div class="profile">
    <h1>Perfil de Usuario</h1>
    <h2>Bienvenido: {{user.nombre}} {{user.last_name}}</h2>
    <h2> Role: {{user.role}} </h2>
    <div>
        <form action="/api/users/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
        <button><a href="/products">Volver al Inicio</a></button>
    </div>


    {{#if this.isAdmin}}
    <a href="/realtimeproducts"> Modificar Productos </a>
    {{else}}
    <a href="/chat"> Chat en vivo</a>
    <a href="/products"> Tienda </a>
    {{/if}}
</div>