<div class="profile">
    <h1>Perfil de Usuario</h1>

    <h2>Bienvenido: {{user.first_name}} {{user.last_name}}</h2>
    <h2>Email: {{user.email}}</h2>
    <h2>Edad: {{user.age}}</h2>
    <div>
        <a href="/api/sessions/logout">Desloguear</a>
        <a href="/api/products">Volver al Inicio</a>
    </div>
</div>