<div class="usuarios">
    {{#each users}}
    <div>
        <h1>{{user.id}}</h1>
        <h1>{{user.nombre}}</h1>
        <h1>{{user.role}}</h1>
        <div>
            {{#if role 'usuario'}}
            <form method="POST" enctype="multipart/form-data" action="/api/users/premium/{{:uid}}">
                <button type="submit">Upgrade to Premium</button>
            </form>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>