<footer class="footer">
    <div class="ftr">
        <div>
            <ul class="opciones">
                <li>
                    <a  class="opciones-links" href="/contactos">preguntas frecuentes</a>
                </li>
                <li>
                    <a  class="opciones-links" href="/contactos">comunidad</a>
                </li>
                <li>
                    <a  class="opciones-links" href="/contactos">Conocenos más</a>
                </li>
                <li>
                    <a  class="opciones-links" href="/contactos">contacto</a>
                </li>
                <li>
                    <a  class="opciones-links" href="/contactos">Politicas de Privacidad</a>
                </li>
            </ul>
        </div>
        <div>
            <h5 class="main-title">Informate de nuestras novedades</h5>
            <form class="formulario" onSubmit={handleSubmit}>
                <input type="text" placeholder="Ingresa tu nombre" value={nombre} onChange={handleNombre} />
                <input type="email" placeholder="Ingresa tu e-mail" value={email} onChange={handleEmail} />
                <button class="enviar" type="submit">Suscribirse</button>
            </form>
        </div>
    </div>
    <div class="derechos">
        <p>&copy; 2023 Company, Inc. todos los derechos reservados.</p>
    </div>
</footer>