<footer class="footer">
    <div class="ftr">
        <div>
            <ul class="opciones">
                <li>
                    <h1 class="opciones-links">preguntas frecuentes</h1>
                </li>
                <li>
                    <h1 class="opciones-links">comunidad</h1>
                </li>
                <li>
                    <h1  class="opciones-links">Conocenos más</h1>
                </li>
                <li>
                    <h1  class="opciones-links">contacto</h1>
                </li>
                <li>
                    <h1  class="opciones-links">Politicas de Privacidad</h1>
                </li>
            </ul>
        </div>
        <div>
            <h5 class="main-title">Informate de nuestras novedades</h5>
            <form class="formulario" onSubmit={handleSubmit}>
                <input type="text" placeholder="Ingresa tu nombre" value={nombre} onChange={handleNombre} />
                <input type="email" placeholder="Ingresa tu e-mail" value={email} onChange={handleEmail} />
                <button class="enviar" type="submit">Suscribirse</button>
            </form>
        </div>
    </div>
    <div class="derechos">
        <p>&copy; 2023 Company, Inc. todos los derechos reservados.</p>
    </div>
</footer>