<header>
    <nav class="navbar">
        <a class="logo" href="/" class="logo">Juguetería</a>
        <ul class="menu">
            {{#if isAuthenticated}}
                <li class="menu-links">
                    <a href="/">Inicio</a>
                </li>
                <li class="menu-links">
                    <a href="/products">Productos</a>
                </li>
                <li class="menu-links">
                    <a href="/api/users/profile"> Mi Perfil </a>
                </li>
            {{else}}
                <li class="menu-links">
                    <a href="/">Inicio</a>
                </li>
                <li class="menu-links">
                    <a href="/login">Iniciar Sesion </a>
                </li>
                <li class="menu-links">
                    <a href="/register"> Registrarse </a>
                </li>
            {{/if}}
        </ul>
    </nav>
</header>
{{!-- modificar --}}